services:
  ollama:
    image: ollama/ollama:latest  
    ports:
      - "11434:11434"
    volumes:
      - ${HOME}/.ollama:/root/.ollama
    entrypoint: ["/bin/sh", "-c", "ollama serve & sleep 3 && ollama run llama3:8b"]

  autonote:
    build:
      context: .
    depends_on:
      - ollama
    environment:
      - OLLAMA_HOST=http://ollama:11434
    volumes:
      - ./app:/app
    working_dir: /app
    command: python agent.py

volumes:
  ollama: